  :root{
  --primary-color:#473BF0;
  --secondary-color:#68D585;
  --secondary-bg:#68D5851A;
  --text-color-dark:#161C2D;
  --text-color-light:#FFFFFF;
  --text-color-muted:#6E6E6E;
  --text-color-gray:#6C757D;
  --bg-light:#F8F9FC;
  --bg-white:#FFFFFF;
  --bg-gray:#F4F7FA;
  }

  header h3
  {
    text-align:center;
    font-family: Rubik;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing:-0.13px;
    padding: 30px 0px;
    color: var(--text-color-dark);
  }

  .hero
  {
    height: 910px;
    background-color: var(--bg-gray);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Roboto;
    padding: 100px 0px;
  }

  .Login 
  {
    width: 338px;
    height: 131px;
    font-family: Roboto;
    color: var(--text-color-dark);
    text-align: center;
  }

  .Login h1{
    font-weight: 700;
    font-size: 60px;
    line-height: 65px;
    letter-spacing: -2px;
  }

  .Login p{
    font-weight: 400;
    font-size: 19px;
    opacity: 70%;
    line-height: 32px;
    letter-spacing: -0.2px;
    margin-top: 34px;
  }

  .hero form{
    width: 350px;
    height: 581px;
    background-color: white;
    border-radius: 10px;
    margin-top: 55px;
    font-family: Roboto;
    padding-left: 26px;
    padding-top: 33px;
    border: 1px solid #E7E9ED;
    box-shadow: 0px 34px 33px -23px rgba(22, 48, 45, 12.95% );

  }

  .hero form label{
    font-size: 15px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.1px;
    margin-bottom: 7px;
  }

   .hero form input
   {
    width: 299px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid #E7E9ED;
    padding-left: 14px;
    outline: none;
    margin-top: 12px;
   }

  .hero form input::placeholder
  {
    font-weight: 400;
    font-size: 15px;
    opacity: 70%;
  }

  .hero form button
  {
    width: 320px;
    height: 59px;
    font-weight: 700;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: -0.6px;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: white;
    outline: none;
    border:none;
    margin-top: 70px;
    
  }

  .account 
  {
      margin-top: 40px;
  }


  .account p{
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    letter-spacing: -0.2px;

  }
  .foter
{
    background-color: #263238;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap:101px;
    color: white;
    font-family:Roboto;
    flex-wrap: wrap;
    height: 496px;
}

.fotright li a{
  color:var(--bg-white)
}
.fotleft
{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 274px;
    margin-top: -75px;
}

.fotlefLogo h3{
  font-family: Rubik;
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.16px;
}

.copyright
{
    display: flex;
    flex-direction: column;
    gap:8px
}

.copyright p
{
    font-weight: 400;
    width: 274px;
    height: 78px;
    opacity: 65%;
    font-size: 15px;
    line-height: 26px;
    color: #F5F7FA;
}

.sociallinks
{
    display: flex;
    gap: 16px;
}


.sociallinks a {
 color: gray;
 font-size: 22px;
}

.sociallinks a:hover{
  color: var(--secondary-color);
}

.fotright
{
    display: flex;
    gap: 30px;

}

.fotright1
{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.fotright1 h2
{
    line-height: 28px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 15px;
    opacity: 65%;
}

.fotright1 ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.fotright1 ul li
{
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: #F5F7FA;
    transition: 0.7s;
}

.fotright1 ul li:hover
{
    color: var(--secondary-color);
    cursor: pointer;

}
.fotright1,.fotright2
{
    width:160px;
}

.fotright3
{
    width: 255px;
}

.fotright3 input
{
    width: 255px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color:#4d4d4d56;
    color:white;
    padding-left: 12px;
    
}

.fotright3 input:focus
{
    outline: none;
}

.fotright3 input::placeholder
{
    color: white;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family:  "Inter", sans-serif ;
}

button:hover
{
    cursor: pointer;
    opacity: 0.7;
}